.my-login{
  .at-float-layout__container{
    max-height: fit-content;
    min-height: fit-content;
  }
  .at-float-layout .layout-body{
    max-height: fit-content;
    min-height: fit-content;
  }
  .at-float-layout .layout-body__content{
    max-height: fit-content;
    min-height: fit-content;
  }
}